/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your global CSS or relevant component */


.filter-group {
  @apply space-y-3;
}

.filter-label {
  @apply flex items-center text-gray-700 font-medium text-sm;
}

.text-outline {
  -webkit-text-stroke: 0.5px white;
  text-stroke: 0.5px white;
}

.glow-text {
  text-shadow: 0 0 6px rgba(13, 148, 136, 0.5), 0 0 12px rgba(13, 148, 136, 0.4);
  transition: text-shadow 0.3s ease-in-out;
}
